* {
  margin-left: 10px;
  margin-right: 10px;
}

header {
  font-family: 'Lovers Quarrel', cursive;
  padding: 0.5rem;
  font-size: 56px;
  color: black;
}

body {
  background-color: #99CED3
}

nav {
  margin: 0;
  display: flex-end;
  align-items: center;
}

nav > i {
  padding: 1rem;
  font-size: 2em;
}

nav > ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0;
}

nav > ul > li {
  margin: 0;
  padding: 0.5rem;
  list-style-type: none;
  }

footer {
  justify-content: center;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.homeStatements {
  margin-left: 12em;
  margin-right: 12em;
  font-size: 18px;
}

.homeHeaders {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.container {
  margin: 0 auto;
  width: 98%;
  min-width: 290px;
  color: var(--black-color);
  z-index: 1;
  overflow: auto;
  display: flex;
}

#mental_illness {
  margin: 0 auto;
  width: 10%;
  min-width: 10px;
}

.blur {
  float: left;
  padding: 0px 5px 0px 0px;
  margin-left: 10px;
  width: 15%;
}

#jasonintro {
  margin: 0 auto;
  min-width: 15px;
}

#winstonintro {
  margin: 0 auto;
  min-width: 15px;
}


