#root {
  margin-left: 10px;
  margin-right: 10px;
}

header {
  font-family: 'Lovers Quarrel', cursive;
  padding: 0.5rem;
  font-size: 60px;
  color: black;
}

body {
  background-color: #99CED3
}

nav {
  margin: 0;
  display: flex-end;
  align-items: center;
}

nav > i {
  padding: 1rem;
  font-size: 2em;
}

nav > ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0;
}

nav > ul > li {
  margin: 0;
  padding: 0.5rem;
  list-style-type: none;
  }

footer {
  justify-content: center;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.homeStatements {
  margin-left: 12em;
  margin-right: 12em;
  font-size: 18px;
}

.homeMIHeaders {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: 350px;
}

.homeSumHeaders {
  display: flex;
  justify-content: center;
  font-size: 24px;
  align-content: flex-end;
}

.homeHeaders {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.container {
  display: flex;;
  justify-content: center;
  align-items: flex-start;
  margin: 25px 150px 150px 410px;
  width: 350px;
  height: 350px;
  padding: 50px;
  border: 3px solid #5F6366;
  background-color: beige;
  font-family: 'Roboto', sans-serif;
}

#mental_illness {
  margin: 0 auto;
  width: 15%;
  min-width: 10px;
  font-family: 'Roboto', sans-serif;
}

.blur {
  float: left;
  padding: 0px 5px 0px 0px;
  margin-left: 10px;
  width: 15%;
}

#jasonintro {
  margin: 0 auto;
  min-width: 15px;
}

#winstonintro {
  margin: 0 auto;
  min-width: 15px;
}

#jumbotron1 {
  margin-left: 150px;
  margin-right: auto;
  margin-top: auto;
 }

 #jumbotron2 {
  margin-left: auto;
  margin-right: auto;
 }

 #jumbotron3 {
  margin-left: auto;
  margin-right: auto;
 }

 #jumbotron4 {
  margin-left: auto;
  margin-right: auto;
 }

 #jumbotron5 {
  margin-left: auto;
  margin-right: auto;
 }

 #supportAnimalsHeader {
  display: flex;
  justify-content: center;
  margin: 50px 200px 0px 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#hotline {
  text-align: center;
}


